@import './normalize.scss';
@import './reset.scss';
@import '../../components/Banners/style.scss';
@import '../../components/NavMenu/style.scss';
@import '../../components/NavCard/style.scss';
@import '../../components/Products/style.scss';
@import '../../components/SelectOrder/style.scss';
@import '../../components/ProductCard/style.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10rem;
};

