@import "../../assets/scss/helpers/variaveis.scss";

.products__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    margin-bottom: 1rem;
    padding: 0;
    border: 1px solid $grey-color;
    border-radius: 5px;
    position: relative;

    .products__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;

        .products__icon {
            color: $primary-color;
            width: 40px;
            height: 40px;
        }

        .products__title {
            color: $secondary-color;
        }

        .products__text {
            color: $secondary-color;
            font-size: 12px;
            margin: 0;
            padding: 10px;
            text-align: center;
        }
    }

    .products__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        position: absolute;
        background-color: $primary-color; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #fa8f43, $primary-color);
        width: 100%;
        height: 50px;
        bottom: 0;
        border-radius: 0 0 5px 5px;

        .products__price {
            color: white;
            margin: 0%;
        }

        .products__link {
            color: white;
            font-weight: 900;
        }
    }
}
