@import "../../assets/scss/helpers/variables.scss";
@import "../../assets/scss/helpers/mixin.scss";

.products__card {
    @include flex-center;
    border: 1px solid $grey-color;
    border-radius: 5px;
    height: 300px;
    margin: 20px 30px;
    padding: 0;
    position: relative;
    width: 20%;

    .products__body {
        @include flex-center;
        flex-direction: column;
        margin-bottom: 50px;

        .products__icon {
            color: $primary-color;
            height: 40px;
            width: 40px;
        }

        .products__title {
            color: $secondary-color;
        }

        .products__text {
            color: $secondary-color;
            font-size: 12px;
            margin: 0;
            padding: 10px;
            text-align: center;
        }
    }

    .products__footer {
        @include btn-background;
        align-items: center;
        display: flex;
        border-radius: 0 0 5px 5px;
        bottom: 0;
        height: 50px;
        justify-content: space-between;
        padding: 10px;
        position: absolute;
        width: 100%;
        
        .products__price {
            color: white;
            margin: 0%;
        }

        .products__link {
            color: white;
            font-weight: 900;
        }
    }
}

@media #{$mq-desktop} {
    .products__card {
        height: 300px;
        margin: 10px 20px;
        min-width: 250px;
        max-width: 300px;
        padding: 0;
        width: 30%;
    }
}

@media #{$mq-mobile} {
    .products__card {
        width: 100%;
    }
}
