@import './variables.scss';

@mixin btn-background {
    background-color: $primary-color;
    background-image: $background-primary;
};

@mixin flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
};